<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/check_budget.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finance_table.css') }}">
</head>

<body>
    <nav>
        <div class="logo"><a href="/home">Finance Tracker</a></div>
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/finance">Check Finance</a></li>
            <li><a href="/add_Expense">Add Expenses</a></li>
        </ul>
    </nav>
    {% block add %}

    {% endblock add %}

</body>

</html>